/** Font declarations **/

@font-face {
  font-family: "Recursive";
  src: url("../fonts/Recursive_VF.woff2") format("woff2");
  font-weight: 300 1000;
}

/** Tokens and global CSS variables **/

:root {
  /** tokens **/

  --color-teal: hsl(175 55% 33%);
  --color-azure: hsl(214 61% 31%);
  --color-cream: hsl(47 100% 93%);
  --color-coral: hsl(16 88% 62%);
  --color-brown-400: hsl(24 57% 20%);
  --color-brown-800: hsl(23 73% 9%);

  --font-family-recursive: "Recursive", system-ui, sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 650;
  --font-weight-bold: 800;

  --font-size-small: 0.875rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 2rem;
  --font-size-xx-large: 3.5rem;

  --font-variation-monospace: "MONO" 1;
  --font-variation-casual: "CASL" 1;

  /** variables **/

  --font-family-default: var(--font-family-recursive);
  --text-color-default: var(--color-brown-800);
  --background-color-default: var(--color-cream);

  --content-width-narrow: 45rem;
  --content-width-default: 60rem;
  --content-width-wide: 75rem;

  --site-gutter-width: 16px;

  --flow-space-default: 1rem;
  --flow-space-large: 3rem;
}

/** Global default styles **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/** Default element styles **/

body {
  margin: 0;

  /** default font styles **/
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-bold);
  font-variation-settings: var(--font-variation-casual);
  line-height: 1.25;
}

h2 {
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-semibold);
  line-height: 1.375;
}

p,
li,
figcaption {
  max-inline-size: 75ch;
  margin: 0;
  text-wrap: pretty;
}

img {
  display: block;
  max-inline-size: 100%;
  height: auto;
}

code {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-light);
  font-variation-settings: var(--font-variation-monospace);
}
