/** Header **/

@scope (.site-header) {
  :scope {
    /* don't display on small screens */
    display: none;

    padding-block-start: 16px;
    padding-block-end: 32px;

    /* hardcode background color to match image background */
    background-color: hsl(47 100% 93%);
    background-image: url("../images/banners/rosie_with_ball_illustration_278x168.png");
    background-position: bottom right;
    background-repeat: no-repeat;

    @media (width > 47rem) {
      display: block;
    }
  }

  .header-text {
    padding-inline: 32px;

    /* Use px instead of rem since the text is decorative and already gigantic */
    font-size: 96px;
    font-weight: 900;
    font-variation-settings: "CASL" 0.8;
    color: var(--color-azure);
    text-shadow: 5px 5px 5px hsl(0 0% 0% / 0.4);
  }
}

/** Primary navigation **/

@scope (.primary-navigation) {
  :scope {
    padding-block: 16px;
    padding-inline: 48px;

    position: sticky;
    top: 0px;

    background-color: var(--color-brown-400);
  }

  ul {
    margin: 0;

    list-style: none;

    display: flex;
    gap: 32px;
    justify-content: flex-end;
  }

  a {
    color: var(--color-cream);
    text-decoration: none;
  }

  a:hover {
    font-weight: var(--font-weight-semibold);
    text-decoration: underline;
  }
}

.page-wrapper {
  min-block-size: 100svh;

  background-color: var(--background-color-default);
}

.content-wrapper > * {
  --content-width: var(--content-width-default);

  margin-inline: auto;
  max-inline-size: min(
    100% - 2 * var(--site-gutter-width),
    var(--content-width)
  );
}

.content-wrapper > .wide-content {
  --content-width: var(--content-width-wide);
}

.content-wrapper > .narrow-content {
  --content-width: var(--content-width-narrow);
}

.flow-wrapper > * + * {
  margin-block-start: var(--flow-space-default);
}

/** add extra space before headings and sections **/
.flow-wrapper > * + :is(section, h1, h2, h3) {
  margin-block-start: var(--flow-space-large);
}

.main-title {
  padding-block: 40px;
  text-align: center;
}

@scope (.panel) {
  :scope {
    display: grid;
    gap: 32px;
    grid-template-areas:
      "img"
      "text";

    @media (width > 47rem) {
      gap: 48px;
      grid-template-columns: 1fr 1fr;

      &:nth-child(even) {
        grid-template-areas: "img text";
      }

      &:nth-child(odd) {
        grid-template-areas: "text img";
      }
    }
  }

  img {
    grid-area: img;
    justify-self: center;
  }

  .panel-text-content {
    grid-area: text;
  }
}
